<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SnailCDN</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.iconarchive.com/download/i87602/icons8/ios7/Animals-Snail.ico"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      .material-symbols-outlined {
        font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
      }

      body {
        font-family: "Inter", sans-serif;
      }

      .desc-text {
        @apply text-stone-800 max-w-xl text-center leading-6;
      }
    </style>
  </head>
  <body class="flex justify-center items-center h-screen my-0 mx-1.5">
    <div id="app">
      <section v-if="currentView === 'home'" class="flex flex-col items-center">
        <h1 class="text-5xl font-extrabold m-0 text-center">SnailCDN</h1>
        <h2 class="text-stone-500 text-center my-2 mb-6 text-2xl">
          The slowest content delivery network
        </h2>

        <div
          class="flex items-center w-fit gap-2 min-h-6 text-sm text-red-600"
          v-if="status == 'invalid-email'"
        >
          <span class="material-symbols-outlined">info</span>Enter a valid email
          address
        </div>
        <!-- <div
          class="flex items-center w-fit gap-2 min-h-6 text-sm text-green-600"
          v-if="status == 'success'"
        >
          <span class="material-symbols-outlined">check</span>Success! Your
          website will be delivered in 5-7 business days
        </div> -->
        <!-- Empty indicator for space consistency -->
        <div class="min-h-6" v-if="status == null"></div>

        <div
          class="relative border border-stone-200 mx-2 mt-2 mb-12 rounded bg-white w-full flex items-center"
        >
          <input
            class="border-none outline-none bg-transparent px-4 py-2 w-full"
            placeholder="Enter your email address"
            v-model="email"
            spellcheck="false"
            @keyup.enter="submitEmail"
          />
          <button
            class="cursor-pointer bg-blue-500 hover:bg-blue-600 active:bg-blue-700 text-white w-10 absolute top-0 right-0 bottom-0 rounded-r flex items-center justify-center"
            @click="submitEmail"
          >
            <span class="material-symbols-outlined">arrow_forward</span>
          </button>
        </div>

        <div class="flex flex-col gap-4 max-w-xl">
          <p class="desc-text">
            Have you ever opened a webpage and had it load in under a second?
            It's stressful. Sometimes, <b>it's better to wait</b>.
          </p>
          <p class="desc-text">That's where SnailCDN comes in.</p>
          <p class="desc-text">
            Enter your email address above, and browse our vast collection of
            <b>over 0 million</b> pages. When you've found one you like, we'll
            email it to you in <b>5-7 business days</b>
          </p>
        </div>
      </section>

      <section
        v-if="currentView === 'browse'"
        class="flex flex-col items-center w-full gap-4"
      >
        <div class="w-full flex">
          <button
            class="cursor-pointer border border-stone-200 bg-white hover:bg-stone-100 active:bg-stone-200 text-black py-2 px-4 rounded"
            @click='goToPage("home")'
          >
            Back
          </button>
          <div class="flex-grow"></div>
          <button
            class="cursor-pointer border border-stone-200 bg-white hover:bg-stone-100 active:bg-stone-200 text-black py-2 px-4 rounded"
            @click='goToPage("upload")'
          >
            Upload Website
          </button>
        </div>
        <input
          class="border border-stone-200 rounded px-4 py-2 w-full"
          placeholder="Search webpages"
          v-model="searchQuery"
        />
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 w-full"
        >
          <div
            v-for="website in filteredWebsites"
            :key="website.id"
            class="border p-4 rounded bg-white flex gap-2"
          >
            <div class="flex-grow">
              <h3 class="font-bold">{{ website.name }}</h3>
              <p>{{ website.description }}</p>
            </div>
            <button
              class="cursor-pointer h-10 py-2 px-4 border border-stone-200 bg-white hover:bg-stone-100 active:bg-stone-200 text-black rounded"
              @click="requestPage(website.id)"
            >
              Request
            </button>
          </div>
        </div>
      </section>

      <section
        v-if="currentView === 'upload'"
        class="flex flex-col items-center w-screen px-2 gap-4"
      >
        <button
          class="self-start cursor-pointer border border-stone-200 bg-white hover:bg-stone-100 active:bg-stone-200 text-black py-2 px-4 rounded"
          @click='goToPage("browse")'
        >
          Back
        </button>
        <input
          class="border border-stone-200 rounded w-full px-4 py-2 outline-none bg-transparent"
          placeholder="Enter your website name"
          v-model="siteName"
        />
        <input
          type="file"
          @change="onFileChanged($event)"
          accept=".html"
          class="border border-stone-200 rounded w-full px-4 py-2 outline-none bg-transparent mt-2"
          capture
        />
        <a
          class="cursor-pointer border border-stone-200 bg-white hover:bg-stone-100 active:bg-stone-200 text-black py-2 px-4 rounded mt-2"
          @click="uploadWebsite()"
          :href="`mailto:snailcdn@expitau.com?body=${siteFileBody}&subject=sneakyhash-${siteName}`"
        >
          Upload
        </a>
      </section>
    </div>

    <script>
      const { createApp, ref, computed } = Vue;

      createApp({
        setup() {
          const email = ref("");
          const status = ref(null);
          const currentView = ref("home");
          const searchQuery = ref("");
          const siteName = ref("");
          const siteFile = ref(null);
          const siteFileBody = ref(null);
          const websites = ref([
            {
              id: 1,
              name: "Lebron Jaames",
              description: "Is the leborn James website",
            },
            { id: 2, name: "expitau", description: "PRAISE BEE NATHAN" },
            {
              id: 3,
              name: "Not the moon",
              description:
                "This website is not the moon because the moon doesn't exist",
            },
          ]);

          /**
           * Changes the current view to the specified page.
           * @param {string} page = "home" | "browse" | "upload"
           */
          const goToPage = (page) => {
            currentView.value = page;
          };

          const validateEmail = (email) => {
            if (!email) return null;
            const emailPattern =
              /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9]))\.){3}(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9])|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/;
            return emailPattern.test(email) ? "success" : "invalid-email";
          };

          const submitEmail = () => {
            status.value = validateEmail(email.value);
            if (status.value !== "success") {
              return;
            }
            status.value = "success";
            goToPage("browse");
          };

          const requestPage = (id) => {
            console.log(
              "Requesting page with ID",
              id,
              "and email",
              email.value
            );
            console.warn("Not implemented. Need to make RPC call.");
          };

          const uploadWebsite = () => {
            if (!siteName.value || !siteFile.value) {
              console.warn("Missing website name or file.");
              return;
            }
            console.log(
              "Uploading website",
              siteName.value,
              siteFile.value,
              email.value
            );
            console.warn("Not implemented. Need to make RPC call.");
          };

          const onFileChanged = ($event) => {
            const target = $event.target;
            if (target && target.files) {
              siteFile.value = target.files[0];
              fetchWebsiteBody();
            }
          };

          const filteredWebsites = computed(() => {
            if (!searchQuery.value) {
              return websites.value;
            }
            return websites.value.filter((website) =>
              website.name
                .toLowerCase()
                .includes(searchQuery.value.toLowerCase())
            );
          });

          const fetchWebsiteBody = () => {
            siteFile.value.text().then((content) => {
              siteFileBody.value = encodeURIComponent(content);
            });
          };

          return {
            email,
            status,
            submitEmail,
            currentView,
            searchQuery,
            siteName,
            siteFile,
            siteFileBody,
            websites,
            filteredWebsites,
            goToPage,
            requestPage,
            uploadWebsite,
            onFileChanged,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
